<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842077827722-hc3sieo5ba9m36ccasoj1o205dvcu2es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842077827722-hc3sieo5ba9m36ccasoj1o205dvcu2es</string>
	<key>API_KEY</key>
	<string>AIzaSyCgz8V_kr8UW1Th2vV7aAagY6vUphPsfGI</string>
	<key>GCM_SENDER_ID</key>
	<string>842077827722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aykutbeyaz.FirebaseCrashlytics</string>
	<key>PROJECT_ID</key>
	<string>fir-test-d0d4c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-d0d4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842077827722:ios:1c26988fe93e60b231f373</string>
</dict>
</plist>